/* Definições para o corpo da página */
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: "montserrat";
    background: url(../img/);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
    
    }

/* Estilo do menu lateral */
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #2CC0B3;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0;
    box-sizing: border-box;
    transition: width 0.3s; /* Adicionando uma transição de largura */
}

/* Estilo dos itens do menu lateral */
.sidebar-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    color: #fff; /* Mudando a cor do texto para branco */
    transition: background-color 0.3s; /* Adicionando transição de cor de fundo */
}

/* Efeito de hover (quando o mouse está sobre o item) */
.sidebar-item:hover {
    background-color: #185544; /* Mudando a cor de fundo quando o mouse passa por cima */
}
/* Buscador */


.container {
    width: 30%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin: 170px auto;
    padding: 45px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

.logologin img{
    display: block; /* Torna a imagem um bloco para alinhar horizontalmente */
    margin: 0 auto;
    margin-bottom: 50px; 
    
}
h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
    margin-top: 40px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px; /* Aumenta o espaço entre o label e o input */
    color: #365659; /* Altera a cor do texto */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    font-family: 'Arial', sans-serif; /* Define uma fonte personalizada */
    
}



.form-button {
    margin-bottom: 10px;
    margin-left: 30%;
    font-size: 1em;
}


.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-button button {
    width: 50%;
    padding: 8px;
    background-color: #2CC0B3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;

}

.form-button a {
    color: #fff;
    text-decoration: none;
}

.form-button a:hover {
    color: #fff;
    text-decoration: none;
}

.form-button button:hover {
    background-color: #185544;
}
    
