form p a {
  font-weight: bold;
  color: #2CC0B3;
  text-decoration: none;
}
form p a:hover {
  text-decoration: none;
  box-shadow: none;
  color: #185544;
  background-color: transparent;
  background-image: none;
  border-color: #185544;
}
.form-contato input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-contato input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-contato button {
    width: 100%;
    padding: 8px;
    background-color: #2CC0B3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;

}

.form-contato a {
    color: #fff;
    text-decoration: none;
}

.form-contato a:hover {
    color: #fff;
    text-decoration: none;
}

.form-contato button:hover {
    background-color: #185544;
}